
body{
	font-size: 0.24rem;
	line-height: 0.34rem;
	visibility: hidden;
}
.com-section{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 6.4rem;
	margin: auto;
}
.com-section>h1{
	padding: 0.2rem;
	font-size: 0.3rem;
	text-align: center;
	color: #fff;
	background-color:#DAB866; 
}
.com-text{
	padding: 0.2rem;
	text-indent: 2em;
	text-align: justify;
	border-radius: 0.15rem;
	color: #444;
	background-color: #F4EDE7;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.fc{
	clear: both;
}
/*私有样式*/
.header{
	height: 1.36rem;
	background-image:url(../img/header-bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.nav ul{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 6.4rem;
	height: 0.5rem;
	margin: auto;
	background-color: #6A0F14;
}
.nav ul li{
	float: left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-left:0.03rem solid #8A2328;
	border-right:0.03rem solid #3C0407;
	width: 1.6rem;
	height: 0.5rem;
	font-size: 0.24rem;
	line-height: 0.5rem;
	text-align:center;

}
.nav ul li:last-child{
	border-right: none;
}
.nav a{
	color:  #DBB866;
}

/*banner*/
.banner{
	position: relative;
	width: 6.4rem;
	height: 2.8rem;
	background: url(../img/banner.jpg) center no-repeat;
	background-size: 100%;
}
/*引言*/
.yinyan p{
	margin: 0.2rem;
}
/*介绍;膳食；环境*/
.jieshao content,.shanshi content,.huanjing content{
	padding: 0.2rem;
}
.jieshao img,.shanshi img{
	display: block;
	width: 6rem;
	margin:0 auto 0.2rem;
}
.huanjing img{
	display: block;
	width: 6rem;
	margin:0.2rem auto 0;
}
/*专家*/
.zhuanjia .content{
	padding: 0.2rem;
}
.zhuanjia li{
	padding-bottom: 0.1rem;
	border-bottom: 0.02rem solid #ccc;
}
.zhuanjia ul .active p{
	display: block;
}
.zhuanjia ul .active h2 span{
	visibility: hidden;
}
.zhuanjia ul li h2{
	height: 0.65rem;
	margin: 0.1rem 0;
	line-height: 0.65rem;
	padding:0 0.5rem 0 1.2rem;
	background: url(../img/zhuanjia.jpg) no-repeat;
	background-position: left 0;
	background-size: 0.89rem;
}
.zhuanjia ul li:nth-child(2) h2{
	background-position: left -0.65rem;
}
.zhuanjia ul li:nth-child(3) h2{
	background-position: left -1.3rem;
}
.zhuanjia ul li:nth-child(4) h2{
	background-position: left -1.95rem;
}
.zhuanjia ul li:last-child h2{
	background-position: left -2.6rem;
}
.zhuanjia h2 strong{
	display: inline-block;
	margin-right: 0.2rem;
	font-size: 0.3rem;
	font-weight: bold;
	color: #F96E2F;
}
.zhuanjia p{
	display: none;
}
.zhuanjia p strong{
	font-weight: bold;
}
/*体验*/
.tiyan .content{
	width: 6rem;
	padding: 0.1rem 0;
}
.tiyan .content table{
	border-collapse: separate;

}
.tiyan .content tr td{
	padding: 0.1rem;
	text-align: center;
	font-size: 0.2rem;
}
.tiyan .content tr td img{
	width: 3rem;
}
.tiyan .content strong{
	font-size: 0.24rem;
	font-weight: bold;
	color: #F96E2F;
}
/*更多问题*/
.wenti ul{
	padding: 0.2rem;
}
.wenti li{
	height: 0.5rem;
	line-height: 0.5rem;
	border-bottom: 0.02rem dotted #ccc;
}
/*页脚*/
.foot{
	height: 2rem;
	background-color: #DBB866;
}
.foot p{
	padding: 0.3rem;
	text-align: center;
	color: #6A0F14;
}
.foot a{
	color: #6A0F14;
}