@charset "utf-8";
/* CSS Document !important; */
body{
	padding: 0px;
	margin: 0px; 
	font-family:"微软雅黑",Arial,Helvetica,sans-serif;
	font-size:12px; padding-bottom:50px;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;}
ol,ul {list-style:none;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}

/***************  fontlink begin   ***************/
a:link , a:visited{color:#AD7405;text-decoration: none;}
a:hover , a:active {color:#000;text-decoration: none;}
.f_ff a:link,.f_ff a:visited {color:#FFFFFF; text-decoration: none;}
.f_ff a:hover,.f_ff a:active {color:#FFFFFF;text-decoration: none;}




/***************  公共样式  ***************/

/*** ******** 定义下划线******/
.f_i{
	text-decoration: underline;
}
/*** ******** 定义上划线******/
.f_ii{
	text-decoration: overline;
}
/*** ******** 定义删除划线******/
.f_iii{
	text-decoration: line-through;
}
.f_we{	font-weight: bold;}
.f_ww{	font-weight: 100;}
.l { float:left; }
.r { float:right; }

/*  font color begin */
.f_12{font-size: 12px;}
.f_13{font-size: 13px;}
.f_14{font-size: 14px;}
.f_15{font-size: 15px;}
.f_16{font-size: 16px;}
.f_17{font-size: 17px;}
.f_18{font-size: 18px;}
.f_20{font-size: 20px;}
.f_22{font-size: 22px;}
.f_24{font-size: 24px;}
.f_26{font-size: 26px;}
.f_28{font-size: 28px;}
.f_30{font-size: 30px;}
.f_32{font-size: 32px;}
.f_00{color:#000000;}
.f_red{color:#FF0000; }
.f_ff {color:#FFFFFF; }
.f_66 {color:#666666; }
.f_33 {color:#333333; }
.f_555{color:#555555;}
.f_50A { color:#0050A2;}
/* font color end */