
body{
	font-size: 0.24rem;
	line-height: 0.34rem;
	visibility: hidden;
}
.com-section{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 6.4rem;
	margin: auto;
}
.com-section>h1{
	padding: 0.2rem;
	font-size: 0.3rem;
	text-align: center;
	color: #fff;
	background-color:#DAB866; 
}
.com-section>.content{
	padding: 0.2rem;
}
.com-text{
	padding: 0.2rem;
	text-indent: 2em;
	border-radius: 0.15rem;
	color: #444;
	background-color: #F4EDE7;
}
/*商务通*/
.com-swt{
	display: block;
	width: 3.5rem;
	margin: auto;
	padding: 0.2rem;
	text-align: center;
	border-radius: 0.2rem;
	background-color: #F96E2F;
	color: #fff;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.fc{
	clear: both;
}
/*私有样式*/
.header{
	height: 1.36rem;
	background-image:url(../img/header-bg.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.nav ul{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	width: 6.4rem;
	height: 0.5rem;
	margin: auto;
	background-color: #6A0F14;
}
.nav ul li{
	float: left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border-left:0.03rem solid #8A2328;
	border-right:0.03rem solid #3C0407;
	width: 1.6rem;
	height: 0.5rem;
	font-size: 0.24rem;
	line-height: 0.5rem;
	text-align:center;

}
.nav ul li:last-child{
	border-right: none;
}
.nav a{
	color:  #DBB866;
}

/*banner*/
.banner img{
	width: 6.4rem;
}
/*引言*/
.yinyan p{
	margin: 0.2rem;
}
/*因素*/
.yinsu img{
	width: 6.4rem;
}
/*对比*/
.duibi ul li{
	height: 1.1rem;
	padding: 0.2rem 0.1rem;
}
.duibi ul li img{
	float: left;
	width: 1.8rem;
}
.duibi ul li p{
	float: left;
	width: 2.2rem;
	text-align: center;
}
.duibi ul li p span{
	font-weight: bold;
	color: #F96E2F;
}
/*危害*/
.weihai h2{
	width: 4rem;
	margin:0 auto 0.2rem;
	padding: 0.1rem;
	border:0.02rem solid #DE944D;
	color: #DE944D;
	text-align: center;
}
.weihai img{
	display: block;
	width: 6.4rem;
	margin:0.2rem 0 0 -0.2rem;
}
.weihai a{
	margin-top: 0.2rem;
}
/*私人定制*/

.private-custom{
	margin-bottom: 0.2rem;
}
.private-custom .wrap{
	width: 6rem;
	margin:0.2rem auto;
	border: 0.02rem solid #DE944D;
}

.private-custom .menu{
	height: 0.7rem;
}
.private-custom .menu li{
	float: left;
	width: 1.5rem;
	height: 0.7rem;
	text-align: center;
	line-height: 0.7rem;
	color: #fff;
	background-color:#DE944D;
}
.private-custom .menu .native{
	color: #DE944D;
	background-color: #fff;
}
.private-custom .content{
	min-height: 4.2rem;
	width: 6rem;
	margin: auto;
	padding: 0rem;
	background: url(../img/private.jpg)  center no-repeat;
	background-size: cover;
}
.private-custom .content li{
	display: none;
	width: 5.55rem;
	padding:0.2rem;
	font-size: 0.2rem;
	line-height: 0.26rem;
}
.private-custom .content strong{
	font-weight: bold;
}
.private-custom .content li h2{
	padding: 0.1rem 0;
	color: #F97B02;
}
.private-custom .content .native{
	display: block;
}

/*专家*/
.zhuanjia .content{
	padding: 0.2rem 0.2rem 0;
}
.zhuanjia .content ul li{
	height: 2.68rem;
}
.zhuanjia img{
	width: 2.32rem;
	margin-right:0.2rem;
}
.zhuanjia h2{
	padding-bottom:0.1rem;
}
.zhuanjia h2 strong{
	font-size: 0.3rem;
	font-weight: bold;
	color: #F4754A;
}
.zhuanjia .content p{
	text-indent: 2em;
	text-align: justify;
}
/*环境*/
.huanjing img{
	display: block;
	width: 6rem;
	margin-top: 0.2rem;
}
/*更多问题*/
.wenti ul{
	padding: 0.2rem;
}
.wenti li{
	height: 0.5rem;
	line-height: 0.5rem;
	border-bottom: 0.02rem dotted #ccc;
}
/*页脚*/
.foot{
	height: 2rem;
	background-color: #DBB866;
}
.foot p{
	padding: 0.3rem;
	text-align: center;
	color: #6A0F14;
}
.foot a{
	color: #6A0F14;
}